{% extends "base.html"%}
{%block title%}
Admin | Faculty
{%endblock%}
{% block content %}
<section class="ftco-section p-5 ">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
              <div class="icon d-flex align-items-center justify-content-center">
                    <i class="fa fa-search" aria-hidden="true" style="color: white;"></i>
              </div>
              <h3 class="text-center mb-4">Search Faculty</h3>
                    <form action="/administrator_faculty" method="POST" class="login-form">
                        {% csrf_token%}
                        <!-- {% if error == True %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                        {% endif %} -->
                <div class="form-group">
                    <select name="branch" class="form-control rounded-left" id="branch" required>
                        <option value=" ">----Select Branch----</option>
                            <option value="CSE">CSE</option>
                            <option value="CE">CE</option>
                            <option value="ME">ME</option>
                            <option value="EE">EE</option>
                    </select>
                </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-primary rounded submit p-3 px-5 ">Search Faculty</button>
            </div>
          </form>
        </div>
            </div>
        </div>
    </div>
    {% if faculty == True %}
            <div class="container">
                <div class="text-center  my-auto mb-2">
                    <h2>Faculty Details</h2>
                </div>
                <table class="table table-striped text-center" style="font-size: 16px;">
                    <thead class="thead-dark" style="background-color: #884d8b;">
                      <tr>
                        <th scope="col">Faculty ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">FacultyName</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for faculty_id, email, facultyname in zip_list %}
                      <tr>
                        <th scope="row">{{faculty_id}}</th>
                        <td>{{email}}</td>
                        <td>{{facultyname}}</td>
                      </tr>
                    {%endfor%}
                    </tbody>
                  </table>
            </div>
    {%endif%}
</section>    
{% endblock %}